In [1]:
import fitz
import pandas as pd
import io
import glob

In [2]:
all_pdf = glob.glob(r"PDF2\*.pdf")

In [3]:
len(all_pdf)

25

In [4]:
all_pdf

['PDF2\\Cocoapods, Carthage, SPM как выбрать менеджер зависимостей в iOS.pdf',
 'PDF2\\Deutsche Telekom и Perplexity объявили о новом «AI Phone» стоимостью менее 1 000 долларов _ Хабр.pdf',
 'PDF2\\imgonline-com-ua-site2pdfB28eKGLy6EjA.pdf',
 'PDF2\\OSINT & Hacking — как работает фишинг для нельзяграма _ Хабр3.pdf',
 'PDF2\\RUVDS.com, Москва - VDS_VPS-хостинг. Скидка 15% по коду HABR15 _ Статьи _ Хабр.pdf',
 'PDF2\\YADRO, Москва - Тут про железо и инженерную культуру _ Статьи _ Хабр.pdf',
 'PDF2\\Yandex N.V. запретили в\xa0течение пяти лет создавать аналогичные «Яндексу» сервисы _ Хабр.pdf',
 'PDF2\\Быстрое начало работы с Gitlab CICD.pdf',
 'PDF2\\Генеральный директор Mozilla покинула свой пост _ Хабр.pdf',
 'PDF2\\За что безопасники будут гореть в аду_ _ Хабр.pdf',
 'PDF2\\Заезжаем в Kotlin Multiplatform. Но какой ценой_ _ Хабр.pdf',
 'PDF2\\ИИ-агенты в Альфа-Банке_ нейросети создают автотесты без участия человека _ Хабр.pdf',
 'PDF2\\Инструменты наблюдаемости, о которых нужно знать в 2023 году.pdf',
 'PDF2\\История российской науки_ напишем вместе_ _ Хабр.pdf',
 'PDF2\\Как системному аналитику написать хорошее резюме —\xa011 рекомендаций _ Хабр.pdf',
 'PDF2\\Как создать аппаратный эмулятор CD-ROM без паяльника _ Хабр.pdf',
 'PDF2\\Как создать аппаратный эмулятор CD-ROM.pdf',
 'PDF2\\Компании _ Хабр.pdf',
 'PDF2\\Компании.pdf',
 'PDF2\\Может ли chatGPT забронировать столик в ресторане через WhatsApp.pdf',
 'PDF2\\МТС, Москва - Про жизнь и развитие в IT _ Статьи _ Хабр.pdf',
 'PDF2\\Новые утечки.pdf',
 'PDF2\\Почему Data Science не для вас.pdf',
 'PDF2\\Хабр, Москва - Экосистема для развития людей, вовлеченных в IT _ Статьи _ Хабр.pdf',
 'PDF2\\Яндекс, Москва - Как мы делаем Яндекс _ Статьи _ Хабр.pdf']

In [5]:
def extract_text_from_pdf(pdf_path: str) -> str:
    doc = fitz.open(pdf_path)
    full_text = []
    for page in doc:
        full_text.append(page.get_text("text"))
    return "\n".join(full_text)

def pars_pdf(text):
    text2 = text.split('\n')
    
    if 'Рейтинг' in text2:
        num = text2.index('Рейтинг')
        raiting = text2[num-1] if num-1 >= 0 else "0"
        name = text2[num+1] if num+1 < len(text2) else ""
        activity = text2[num+2] if num+2 < len(text2) else ""
        date_publish = text2[num+3] if num+3 < len(text2) else ""
    else:
        raiting = "0"
        name = ""
        activity = ""
        date_publish = ""
        
        if 'Простой' in text2:
            num2 = text2.index('Простой')
            date_publish = text2[num2-1] if num2-1 >= 0 else ""
    
    return name, raiting, activity, date_publish

In [6]:
Brak = []
NameCompany = []
Raiting = []
DataPublish = []
Activity = []
TextArticle = []

In [7]:
for pdf in all_pdf:
    try:  
        x = extract_text_from_pdf(pdf)
        
        first_page_text = x.split("\n\n")[0]
        N, R, A, D = pars_pdf(first_page_text)
        
        T = ' '.join(x.split())

        NameCompany.append(N)
        Raiting.append(R)
        DataPublish.append(D)
        Activity.append(A)
        TextArticle.append(T)
    
    except Exception as e:
        print(f"Ошибка при обработке {pdf}: {e}")
        Brak.append(pdf)

In [8]:
df = pd.DataFrame({
'NameCompany': [],
'Description': [],
'Raiting': [],
'DataPublish': [],
'Activity': [],
'TextArticle': []
})

In [9]:
df['NameCompany'] = NameCompany
df['Raiting'] = Raiting
df['DataPublish'] = DataPublish
df['Activity'] = Activity
df['TextArticle'] = TextArticle

In [10]:
df.head()

,NameCompany,Description,Raiting,DataPublish,Activity,TextArticle
0,red_mad_robot,NaN,117.94,6 часов назад,№1 в разработке цифровых решений для бизнеса,117.94 Рейтинг red_mad_robot №1 в разработке ц...
1,,NaN,0,,,"Еще до начала MWC в Барселоне было очевидно, ч..."
2,Cloud4Y,NaN,71.07,Автор оригинала: Yashwant Singh,#1 Корпоративный облачный провайдер,71.07 Рейтинг Cloud4Y #1 Корпоративный облачны...
3,Cloud4Y,NaN,71.07,Автор оригинала: Yashwant Singh,#1 Корпоративный облачный провайдер,71.07 Рейтинг Cloud4Y #1 Корпоративный облачны...
4,RUVDS.com,NaN,2619.78,Новые,VDS/VPS-хостинг. Скидка 15% по коду HABR15,2619.78 Рейтинг RUVDS.com VDS/VPS-хостинг. Ски...

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   NameCompany  25 non-null     object
 1   Description  0 non-null      float64
 2   Raiting      25 non-null     object
 3   DataPublish  25 non-null     object
 4   Activity     25 non-null     object
 5   TextArticle  25 non-null     object
dtypes: float64(1), object(5)
memory usage: 1.3+ KB